html {
  font-family: "Roboto", sans-serif;
}

html { height: 97%; }
body { height: 100%; }
#root {height: 100%; }

body {
  margin: 0;
  padding: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}